fastapi==0.109.0
uvicorn[standard]==0.27.0
psycopg2-binary==2.9.9
python-multipart
sqlalchemy
pgvector
google-generativeai
pytesseract==0.3.10
pdf2image==1.17.0
Pillow>=10.0.0
youtube-transcript-api==1.2.4
pydantic